/* #code{
    background-color: #eeeeee !important;
    color:#c63678;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
}
#output{
  background-color: #1c1c1c !important;
  color:#c63678;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
} */
 
#main {
  background-color: #1e1e2e; /* Deep Charcoal */
  color: #cdd6f4; /* Light Text */
}

/* Navbar */
nav {
  background-color: #181825; /* Dark Charcoal */
  color: #cdd6f4; /* Light Text */
}

/* Code Box */
#code {
  background-color: #313244; /* Dark Gray */
  color: #f38ba8; /* Python Code Keywords */
  border: 1px solid #45475a; /* Subtle Border */
}

/* Output Box */
#output {
  background-color: #45475a; /* Slightly Lighter Gray */
  color: #a6e3a1; /* Green for Output */
  border: 1px solid #585b70; /* Subtle Border */
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.projectfont {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  .mid{
    margin: 0 auto;
    width: 80%;
  }

  /* from https://stackoverflow.com/questions/7503183/what-is-the-easiest-way-to-create-an-html-mouseover-tool-tip */
  [data-tooltip] {
    position: relative; /* Make the span positioned relative to the tooltip */
    display: inline-block; /* Keep it inline with the text */
  }
  
  [data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    background-color: rgba(255,255, 255, 1);
    color: black;
    padding: 8px 12px;
    top: 2em;
    left: 50%;
    transform: translateX(-50%); 
    word-wrap: break-word;
    max-width: 800px; 
    min-width: 400px; 
    text-align: left; 
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); 
    border: 2px solid black;
  }