
body {
  background-color: #2e3440;
  color: #d8dee9; 
}


nav {
  background-color: #4c566a;
  color: #eceff4 !important; 
}
nav-item {
  color: #eceff4 !important; 
}

#code {
  background-color: #4c566a !important; 
  color: #eceff4;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  font-family: 'Courier New', monospace;
  border: 1px solid #81a1c1;
  white-space: pre;
}

#output {
  background-color: #d8dee9 !important; 
  color: #bf616a;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  font-family: 'Courier New', monospace;
  border: 1px solid #81a1c1; 
}
#c { /*Ich hasse das auf einem unfassbaren Level aber es ist das beste was ich hinbekomme weil <span> ganz seltsame formatierungsfehler hat zumindest in pre */
  color:#a3be8c;
}


/* Colorscheme ist Nord von https://www.nordtheme.com/ */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.projectfont {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  .mid{
    margin: 0 auto;
    width: 80%;
  }
  .tisch {
    padding: 15px;
    background-color: #4c566a;
    color: #eceff4;
    border-collapse: collapse;
    border: 1px solid;
  }
  .imgage {
    border: #eceff4 1px solid;
  }

  /* from https://stackoverflow.com/questions/7503183/what-is-the-easiest-way-to-create-an-html-mouseover-tool-tip */
  [data-tooltip] {
    position: relative; /* Make the span positioned relative to the tooltip */
    display: inline-block; /* Keep it inline with the text */
  }
  
  [data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    background-color: rgba(255,255, 255, 1);
    color: black;
    padding: 8px 12px;
    top: 2em;
    left: 50%;
    transform: translateX(-50%); 
    word-wrap: break-word;
    max-width: 800px; 
    min-width: 400px; 
    text-align: left; 
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); 
    border: 2px solid black;
  }